<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a class="btn btn-danger">Cancel</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Title</label>
                        <input type="text" id="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="image-url">Image Url</label>
                        <input type="text" id="image-url" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="img">
                        <img>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea type="text" id="content" rows="6" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-group">
                        <div class="row">
                            <div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-danger">X</button>
                                </div>
                            </div>

                            <br>
                            <br>
                        </div>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group row">
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary">+</button>
            </div>
        </div>
    </div>
</div>