<div class="row">
  <div class="col-xs-12">
    <img src="{{ (selectedRecipe | async)?.imagePath }}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ (selectedRecipe | async)?.name }}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onAddToShoppingList()">To Shopping List</button>
    <button class="btn btn-info" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{ (selectedRecipe | async)?.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of (selectedRecipe | async)?.ingredients ">
        {{ingredient.name}} ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
